@font-face {
    font-family: 'DSDIGI';
    src: url('fonts/DSDIGI.eot'), local('DSDIGI'), url('fonts/DSDIGI.woff') format('woff'), url('fonts/DSDIGI.ttf') format('truetype');
}

html {
    background-image: radial-gradient(ellipse at center,  #141414 0%,#020202 100%);
}

#clock {
    font-family: 'DSDIGI';
    font-size: 150px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: transparent;
    background-image: radial-gradient(ellipse at center,  #ff9900 0%,#ffdd00 100%);
    background-clip: text;
    
    -webkit-background-clip: text; /* Chrome/Safari compatibility */
}